<!DOCTYPE html>
<html lang="en">

<head>
  <title>LinkMe - Stability</title>
  <link rel="icon" sizes="76x76" href="/img/favicon.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=" Experience A Web3 Social Graph Powered By Feeless Transactions">

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Space+Mono&display=swap" rel="stylesheet"> -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- //share link -->

  <!-- Zoom Js -->
  <link href="/css/style.css" rel="stylesheet">
<!-- 
  <link rel="stylesheet" type="text/css" href="/css/zoom.css">
  <script src="/js/zoom.js"></script> -->

  <script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>

  <style>
@media (min-width: 500px) and (max-width:1150) {
  
.col-md-7 {

  flex: 0 0 66.666667%;
  width: 100%;
}

.col-sm-8 {
  width:100%;
  flex: 100%;
  flex: 0 0 66.666667%;

}
}
@media only screen and (max-width: 1100px) and (min-width: 400px)  {
/* .col-md-8 {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0%;
} */
}
@media (min-width: 1100px){
/* .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
} */
}
  </style>

</head>
